body {
    background-color: #F7E8EC;
}

.parent {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: auto;
    flex-wrap: wrap;
}

.div1 {
    grid-area: 1 / 1 / 4 / 2;
    text-align: center;
    border: 2px solid #732C3F;
    flex-grow: 1;
    flex-basis: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 110px;
}

.div2 {
    grid-area: 1 / 2 / 4 / 3;
    text-align: center;
    border: 2px solid #732C3F;
    flex-basis: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 110px;
}

.div3 {
    grid-area: 1 / 3 / 4 / 4;
    text-align: center;
    border: 2px solid #732C3F;
    flex-grow: 1;
    flex-basis: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 110px;

}

.sticker {
    width: 120px;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    cursor: grab;
    margin-top: 20px;
    
}



.sticker-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sticker-pink {
    background: #d395a1;
    color: #542632;
    transform: rotate(var(--rotation, 0deg));
}

.sticker-header {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px dashed #542632;
    padding-bottom: 5px;
}

.div4 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    border: 2px solid #732C3F;
    background-color: #d395a1;
    height: 100px;
    flex-grow: 1;
    flex-basis: 200;

}

.div5 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    border: 2px solid #732C3F;
    background-color: #d395a1;
    height: 100px;
    flex-grow: 1;
    flex-basis: 200;
}

.div6 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    border: 2px solid #732C3F;
    background-color: #d395a1;
    height: 100px;
    flex-grow: 1;
    flex-basis: 200;
}

h3 {
    margin-top: 35px;
    font-family: Verdana;
    color: #542632;
    text-wrap: 1;
}